<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrganizadorLog.Properties.log" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OrganizadorLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OrganizadorLog.log" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OrganizadorLog.Properties.log>
            <setting name="Ativo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NivelLog" serializeAs="String">
                <value>0</value>
            </setting>
        </OrganizadorLog.Properties.log>
        <OrganizadorLog.Properties.Settings>
            <setting name="Ativo" serializeAs="String">
                <value>True</value>
            </setting>
        </OrganizadorLog.Properties.Settings>
        <OrganizadorLog.log>
            <setting name="Ativo" serializeAs="String">
                <value>True</value>
            </setting>
        </OrganizadorLog.log>
    </applicationSettings>
</configuration>